<div class="container">
  <app-cockpit-component
    (serverCreated)="onserverAdder($event)"
    (blueprintCreated)="onblueprintAdder($event)"
  ></app-cockpit-component>
  <hr />
  <div class="row"></div>
  <app-server-component
    *ngFor="let server of serverElements"
    [name]="server.name"
    [srvelement]="server"
  >
    <p #contentData>
      <strong *ngIf="server.type === 'server'" style="color: red">{{
        server.content
      }}</strong>
      <em *ngIf="server.type === 'blueprint'" style="color: blue">{{
        server.content
      }}</em>
    </p>
  </app-server-component>
</div>
